body {
    background-color: #fff;
    margin: 2rem 2rem;
    padding-top: 5rem;
}

@media (min-width: 768px) {
    body {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

body footer {
    background: #000;
    color: #fff;
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 5px;
}



.customer-card {
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
    margin-top: .5rem;
    margin-top: .5rem;
    height: 370px;
}

@media (min-width: 768px) {
    .customer-card {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 390px;
    }
}

.customer-card .buttons-controls {
    bottom: 0;
    position: absolute;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .customer-card .buttons-controls {
        padding-bottom: 1.3rem;
    }
}



.artist-card {
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
    margin-top: .5rem;
    margin-top: .5rem;
    height: 100px;
}

@media (min-width: 768px) {
    .artist-card {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 100px;
    }
}

.artist-card .buttons-controls {
    bottom: 0;
    position: absolute;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .artist-card .buttons-controls {
        padding-bottom: 1.3rem;
    }
}





.employee-card {
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
    margin-top: .5rem;
    margin-top: .5rem;
    height: 400px;
}

@media (min-width: 768px) {
    .employee-card {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 410px;
    }
}

.employee-card .buttons-controls {
    bottom: 0;
    position: absolute;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .employee-card .buttons-controls {
        padding-bottom: 1.3rem;
    }
}




.invoice-line-card {
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
    margin-top: .5rem;
    margin-top: .5rem;
    height: 170px;
}

@media (min-width: 768px) {
    .invoice-line-card {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 160px;
    }
}

.invoice-line-card .buttons-controls {
    bottom: 0;
    position: absolute;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .invoice-line-card .buttons-controls {
        padding-bottom: 1.3rem;
    }
}






.invoice-card {
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
    margin-top: .5rem;
    margin-top: .5rem;
    height: 270px;
}

@media (min-width: 768px) {
    .invoice-card {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 300px;
    }
}

.invoice-card .buttons-controls {
    bottom: 0;
    position: absolute;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .invoice-card .buttons-controls {
        padding-bottom: 1.3rem;
    }
}