<div class="form-horizontal">
    <input type="hidden" ng-model="invoiceLine.invoiceLineId" value="{{::invoiceLine.invoiceLineId}}" />
    <div class="form-group">
        <label class="col-sm-4 control-label">Invoice Id: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="invoiceLine.invoiceId"
                   value="{{::invoiceline.invoiceId}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Track Id: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="invoiceLine.trackId"
                   value="{{::invoiceline.trackId}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">UnitPrice: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="invoiceLine.unitPrice"
                   value="{{::invoiceLine.unitPrice}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Quantity: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="invoiceLine.quantity"
                   value="{{::invoiceLine.quantity}}" />
        </div>
    </div>

</div>
