<div class="form-horizontal">
    <input type="hidden" ng-model="track.trackId" value="{{::track.trackId}}" />
    <div class="form-group">
        <label class="col-sm-4 control-label">Name: </label>
        <div class="col-sm-6">
            <input id="companyName" class="form-control" type="text"
                   ng-model="track.name" value="{{::track.name}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Album Id: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="track.albumId"
                   value="{{::track.albumId}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Media Type Id: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="track.mediaTypeId"
                   value="{{::track.mediaTypeId}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Genre Id: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="track.genreId"
                   value="{{::track.genreId}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Composer: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="track.composer"
                   value="{{::track.composer}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Milliseconds: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="track.milliseconds"
                   value="{{::track.milliseconds}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Bytes: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="track.bytes"
                   value="{{::track.bytes}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">UnitPrice: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="track.unitPrice"
                   value="{{::track.unitPrice}}" />
        </div>
    </div>
</div>
